<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <header>
        <nav>
            <h1>Welcome to the header</h1>
            <!-- <ul><a href="/snacks">Home</a></ul>
            <ul><a href="about/">About</a></ul> -->
            <ul><a href="{% url 'home' %}">Home</a></ul>
            <ul><a href="{% url 'about' %}">About</a></ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer></footer>
</body>
</html>